.notebook-right-page-content-container,
.notebook-left-page-content-container {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 14px;
}

.notebook-right-page-content-container {
  height: 98.5%;
  margin-top: 0.265rem;
  /* border: 1px solid red; */
}

.notebook-date-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.notebook-sun-icon,
.notebook-night-icon {
  position: absolute;
  left: 0;
  color: #cead87;
}

.notebook-night-icon {
  top: -0.5rem;
}

.notebook-day-input-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.notebook-night-input-container::before {
  content: "";
  position: absolute;
  /* border: 1px solid red; */
  width: 109%;
  height: 104.5%;
  left: -0.94rem;
  top: -0.75rem;
  z-index: -2;
  background-image: linear-gradient(
    to left,
    rgb(216, 216, 216, 0.6),
    rgb(217, 217, 217, 0.6)
  );
}
.notebook-night-input-container::after {
  content: "";
  position: absolute;
  z-index: -3;
  height: 2em;
  width: 109%;
  bottom: -22px;
  left: -0.94rem;
  background-image: linear-gradient(
    to bottom left,
    rgb(216, 216, 216, 0.6),
    rgb(217, 217, 217, 0.6)
  );
  border-top-left-radius: 10%;

  border-bottom-right-radius: 26%;
  border-bottom-left-radius: 26%;

  /* border: 1px solid red; */
  transform: rotate(0.5deg);
}

.notebook-night-input-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.notebook-section-title,
.notebook-quote-author,
.notebook-daily-quote {
  /* text-decoration; */
  text-align: center;
}

.notebook-quote-author {
  font-size: 12px;
}

.notebook-extra-thoughts-container {
  /* border: 1px solid red; */
  height: 40%;
  margin-bottom: 1rem;
}

.notebook-extra-thoughts-container .notebook-section-title {
  margin-bottom: 0.45rem;
}

.notebook-pictures-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 55%;
}

.notebook-inner-picture-container {
  width: 100%;
  /* border: 1px solid red; */
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.add-notebook-picture {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.notebook-add-picture {
  border: 1px dotted rgb(195, 194, 194);
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #cead87;
  transform: rotate(-1deg);
  transition-property: background-color, border;
  transition-timing-function: ease;
  transition-duration: 200ms;
  cursor: pointer;
}

.notebook-add-picture:hover {
  background-color: lightgray;
  border: 1px dotted rgb(161, 161, 161);
}

.notebook-add-picture:active {
  transform: translateY(2px);
}

.polaroid-container {
  height: 90%;
  width: 80%;
}

/* Poloroid CSS */

.notebook-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #f1f1f1;
  transform: scale(0.8, 0.8) rotate(-1deg);
  height: 100%;
  width: 100%;
  padding: 0 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  transition-property: transform, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
  cursor: pointer;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.notebook-picture:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(2deg);
  transition: all 0.35s;
}

.notebook-picture:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.notebook-picture:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-2deg);
  transition: all 0.35s;
}

.notebook-picture:hover {
  transform: rotate(0deg);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.notebook-picture:hover .poloroid-image {
  filter: none;
}

.poloroid-image {
  width: 100%;
  height: 95%;
  object-fit: cover;
  box-shadow: 0 0 2px 0.1rem rgba(0, 0, 0, 0.8);
  transition: opacity ease 200ms;
}

.notebook-picture .poloroid-image {
  filter: grayscale(100%);
}

.poloroid-modal {
  height: 100%;
  width: 100%;
  max-width: 45rem;
  max-height: 45rem;

  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}

.poloroid-modal .poloroid-image {
  filter: none;
}

.poloroid-delete {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4rem;
  width: 7rem;
  height: 2.5rem;
  color: rgb(224, 223, 223);
  margin-top: 1rem;
  background: linear-gradient(
    to right,
    rgb(51, 51, 51) 50%,
    rgb(71, 71, 71) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.1s ease-out;
}

.poloroid-delete:hover {
  background-position: right bottom;
}

.poloroid-opacity {
  opacity: 0.5;
}

.poloroid-delete:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.image-confirmation-container {
  position: absolute;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-confirmation {
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.remove-image {
  width: 9rem;
  font-size: 16px;
}
