/* TODO Add site wide styles */
body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
}

.body-container-nav-right {
  width: 100%;
  background: #f8f8f8;
  /* overflow:scroll */
  /* font-family: "Gochi Hand", sans-serif; */
  color: #333;
}
