.magazine {
  min-width: 800px;
  width: 80%;
  max-width: 1250px;
  height: 650px;
  position: relative;
  margin: 1.5rem auto;
  /* border: 1px solid red; */
  display: flex;
}

.left-page {
  width: 50%;
  height: 100%;
  /* position: absolute; */
  left: 0;
  /* background-color: #e2e0d3; */
  background-image: linear-gradient(
    to left,
    rgba(226, 224, 211, 1),
    rgba(226, 224, 211, 0.5)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  transform-origin: right center;
  transform: perspective(500px) rotateY(0deg);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .left-page:before {
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.left-page:after {
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
  border-bottom: 250px solid transparent;
  border-left: 40px solid #f7f7f7;
  z-index: -1;
} */

.right-page {
  width: 50%;
  height: 100%;
  /* position: absolute; */
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(226, 224, 211, 1),
    rgba(226, 224, 211, 0.5)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  transform-origin: left center;
  transform: perspective(500px) rotateY(0deg);
  /* border: 1px solid orange; */
}

.right-page:before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.right-page:after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
  border-bottom: 250px solid transparent;
  border-right: 40px solid #ffffff;
  z-index: -1;
}
