.delete-modal-container {
  /* border: 1px solid red; */
  width: 25rem;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    rgba(226, 224, 211, 0.4),
    rgba(226, 224, 211, 1),
    rgba(226, 224, 211, 0.4)
  );
}

.delete-modal-inner-text-title {
  text-align: center;
  color: #cead87;
  word-wrap: break-word;
}

.delete-modal-button-options {
  display: flex;
  justify-content: space-around;
}

.delete-modal-button {
  background-color: rgba(206, 206, 206, 0.5);
  border: 1px solid lightgray;
  font-size: 1.07rem;
  color: black;
  width: 6rem;
  height: 3rem;
  border-radius: 4rem;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-button:hover {
  background-color: rgba(206, 206, 206, 0.9);
}

.delete-radio-button-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.radio-button {
  margin-bottom: 1rem;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio-button input[type="radio"] + .radio-label:before {
  content: "";
  background: transparent;
  border-radius: 100%;
  border: 1px solid lightgray;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio-button input[type="radio"]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px rgb(224, 223, 223);
}
.radio-button input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio-button input[type="radio"]:disabled + .radio-label:before {
  border-color: lightgray;
  background: #b4b4b4;
}
.radio-button input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
