.nav-bar-outer-container {
  /* border: 1px solid red; */
  background-color: #333;
  height: auto;
  min-height: 100% !important;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-profile-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #a6a6a6;
  color: #e0dfdf;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.nav-bar-profile-button:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
}

.nav-button,
.nav-button-dev {
  border: none;
  background-color: transparent;
  margin: 0.5rem 0;
  color: #e0dfdf;
  cursor: pointer;
}

.nav-button-dev {
  font-size: 1.25rem;
}

.nav-item {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
}

.nav-popup,
.nav-popup-dev {
  display: none;
  position: absolute;
  top: -0.5rem;
  left: 3rem;
  font-size: 0.85rem;
  width: 4.1rem;
  padding: 10px;
  color: #e0dfdf;
  background-color: #404040;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav-popup::before,
.nav-popup-dev::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #404040;
  transform: translateY(-50%);
}

.nav-item:hover .nav-popup,
.nav-item:hover .nav-popup-dev {
  display: block;
  z-index: 9;
  animation: fadein 0.3s ease-in-out forwards;
  text-align: center;
}

.nav-popup-dev {
  width: 6rem;
  top: 0rem;
}

.nav-popup-profile {
  display: none;
  position: absolute;
  top: 1rem;
  left: 3.33rem;
  font-size: 0.85rem;
  width: 4.1rem;
  padding: 10px;
  color: #e0dfdf;
  background-color: #404040;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav-popup-profile::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #404040;
  transform: translateY(-50%);
}

.nav-item:hover .nav-popup-profile {
  display: block;
  z-index: 9;
  animation: fadein 0.3s ease-in-out forwards;
  text-align: center;
}

.nav-item {
  position: relative;
  display: inline-block;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.developer-info-nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}

a:-webkit-any-link {
  color: #e0dfdf;
}

.nav-popup-profile-modal {
  position: absolute;
  top: -0.5rem;
  left: 3.33rem;
  font-size: 0.85rem;
  width: 4.1rem;
  padding: 10px;
  color: #e0dfdf;
  background-color: #404040;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-popup-profile-modal::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #404040;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.log-out-button {
  border: transparent;
  margin-top: 0.25rem;
  color: #353535;
  background-color: #a6a6a6;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.6;
  padding: 0.2rem;
}

.nav-bar-profile-container {
  cursor: auto;
}

.log-out-button:hover {
  opacity: 1;
}
