.planner-arrow-container {
  position: relative;
  margin: auto;
  width: 25%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  height: 5rem;
}

.planner-arrow-left-right {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  /* border: 1px solid red; */
}

.planner-week-text {
  width: 60%;
  overflow: hidden;
  font-size: 1.75rem;
  text-align: center;
  color: #cead87;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.planner-arrow-descriptions {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  width: 100%;
  bottom: 0.65rem;
}

.planner-arrow-text {
  margin: 0 1rem;
  cursor: pointer;
}
