.planner-arrow-container {
  position: relative;
  margin: auto;
  width: 25%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  height: 5rem;
}

.planner-arrow-left-right {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  /* border: 1px solid red; */
}

.planner-week-text {
  width: 60%;
  overflow: hidden;
  font-size: 1.75rem;
  text-align: center;
  color: #cead87;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.planner-arrow-descriptions {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  width: 100%;
  bottom: 0.65rem;
}

.planner-arrow-text {
  margin: 0 1rem;
  cursor: pointer;
}

.planner-left-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.planner-goal-list-header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0.15rem 0;
  margin: 0.25rem 0;
  background-color: rgba(200, 200, 200, 0.2);
}

.planner-weekly-habit-tracker-container {
  /* border: 1px solid red; */
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.planner-habit-container {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100%;
  height: 86.5%;
  margin-top: 1rem;
}

.planner-habit-tracker-heading-container {
  border: 1px dotted lightgray;
  display: grid;
  grid-template-columns: 4fr repeat(7, 1fr) 2fr 2fr;
  margin: 0.35rem 0;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 8%;
  font-size: 0.85rem;
  margin-right: 15px;
}

.planner-habit-tracker-body-container {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 4fr repeat(7, 1fr) 2fr 2fr;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.planner-habit-tracker-name {
  border: 1px dotted lightgray;
}
.planner-habit-tracker-check {
  border: 1px dotted lightgray;
  text-align: center;
  margin: auto 0;
}

.planner-habit-tracker-count {
  border: 1px dotted lightgray;
  text-align: center;
}

.planner-habit-tracker-footer-container {
  display: grid;
  grid-template-columns: 11fr 2fr 2fr;
  padding: 0.25rem 0;
  width: 100%;
  text-align: center;
}

.planner-page-right-container {
  box-sizing: border-box;
  padding: 0.25rem 0;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-around;
  height: 100%;
}

/* WeekDayList CSS */

.week-day-list-container {
  /* border: 1px solid red; */
  width: 47.5%;
  height: 24.5%;
}

.weekday-list-form-container {
  display: flex;
  justify-content: center;
}

.weekday-list-create-list-item-input-field {
  width: 100%;
  border-radius: 3px;
  border: none;
  border-bottom: 1px dotted lightgray;
  background-color: transparent;
  padding: 0.25rem;
}

.weekday-list-create-list-item-input-field:focus {
  outline: none;
}

.week-day-list-title {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cead87;
  border-bottom: 1px dotted lightgray;
  height: 15%;
  padding: 0.25rem;
  background-color: rgba(200, 200, 200, 0.2);
}

.week-day-list-body {
  overflow-y: scroll;
  /* border: 1px solid purple; */
  height: 84%;
}

.habit-check:checked + label svg path {
  stroke-dashoffset: 0;
}
.habit-check:focus + label {
  /* transform: scale(1.03); */
}

.habit-check {
  display: none;
  border: 1px solid #333;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.habit-label:active {
  /* transform: scale(1.05); */
  /* border-radius: 30px; */
}
/* .habit-check + label svg {
  pointer-events: none;
} */
.habit-path {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

/*  next version */

input.check {
  position: absolute;
  opacity: 0;
}
input.check:checked + label.check-label svg path {
  stroke-dashoffset: 0;
}
input.check:focus + label.check-label {
  transform: scale(1.03);
}

.check + .check-label {
  display: block;
  border-radius: 14px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all 0.2s ease;
}
.check + .check-label:active {
  transform: scale(1.05);
  border-radius: 30px;
}
.check + .check-label svg {
  pointer-events: none;
}
.check + .check-label svg path {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 150ms cubic-bezier(1, 0, 0.37, 0.91);
}
