.list-container-div {
  /* border: 1px solid purple; */
  width: 99.5%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.list-header {
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.list-header-task {
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-timefame-text {
  color: #cead87;
}

.list-header-date-buttons {
  margin: 0 0.5rem;
}

.list-header-tab-organizer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7%;
  border-bottom: 1px dotted lightgray;

  /* border: 1px solid purple; */
}

.list-tab-heading {
  cursor: pointer;
  color: black;
  margin: 0 1rem;
  /* border: 1px solid red; */
  padding-bottom: 0.15rem;
}

.list-tab-heading-active {
  border-bottom: 1px dotted;
  font-weight: 500;
  color: #cead87;
  margin: 0 1rem;
  padding-bottom: 0.15rem;
}

.list-tab-cog {
  padding: 0 1rem;
  cursor: pointer;
  position: relative;
}

.list-tab-filter-menu-container {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 9rem;
  left: -6rem;
  font-size: 0.85rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #f8f8f8;
  z-index: 5;
  padding: 0.25rem;
  box-shadow: 3px 3px 10px rgb(201, 201, 201);
}

.list-tab-filter-ele {
  width: 90%;
  display: flex;
  padding: 0.25rem;
}

.list-tab-filter-check {
  width: 1.25rem;
}

.list-input-field-container {
  height: 3.5rem;
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 15px 5px;
  border-bottom: 1px dotted lightgray;
}

.list-form-container {
  display: flex;
  justify-content: center;
}

.list-create-list-item-input-field {
  width: 95%;
  border-radius: 3px;
  border: 1px dotted lightgray;
  background-color: transparent;
  padding: 0.25rem;
}

.list-view-section {
  overflow-y: scroll;
  margin-right: 0.2rem;
  flex: 1;
}

.list-view-section-truncated {
  /* border: 1px solid green; */
  overflow-y: scroll;
  /* height: 60%; */
  flex: 1;
  /* max-height: 11rem; */
}

.list-item-container {
  border-bottom: 1px dotted lightgray;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.add-pointer {
  cursor: pointer;
}

.list-item-strike-through {
  text-decoration: line-through;
}

.inner-list-item-text-container {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  width: 92%;
}

/* .red {
  border-left: 2px solid ;
}
.orange {
  border-left: 2px solid ;
}

.blue {
  border-left: 2px solid ;
} */

.inner-list-item-text {
  width: 100%;
}

.inner-list-edit-buttons-container {
  /* border: 1px solid red; */
  position: absolute;
  top: -0rem;
  right: -0rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

.list-edit-button-checkbox-form {
  padding-right: 0.4rem;
}

.inner-list-open-modal-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.edit {
  opacity: 0;
}

.list-item-container:hover .edit {
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
